In [16]:
print("hello world")

hello world

In [17]:
# 문자출력
print("안녕, 한국직업교육학원")

안녕, 한국직업교육학원

In [18]:
# 숫자출력
print(100)
print("100")
a = 100
b = "100"

print(a == b)

100
100
False

In [19]:
# 산술 연산자
print(100 + 200)
print(100 - 200)
print(100 * 200)

300
-100
20000

In [ ]:
# 나머지 연산자
print(10 % 3)
print(10 / 3)

# 거듭제곱
print(10**2)

# 제곱근
print(10**0.5)
print(100**0.5)

1
3.3333333333333335
100
3.1622776601683795
10.0

In [21]:
# 산술연산자 우선순위
print(4 + 3 * 5)
print((4 + 3) * 5)

19
35

In [22]:
# 문자 더하기
print("안녕" + "하세요")
print("안녕" * 3)

#문자는 더하기와 곱하기는 연산이 가능하다.

# 문자 + 숫자
print("안녕" + "100")

# 100에다가 ""안붙히면 에러 뜸

안녕하세요
안녕안녕안녕
안녕100

In [23]:
### 자료형

In [24]:
# 정수형

# 내장함수 = Type
# 100 = 인수

type(100)

# int = 정수형

int

In [25]:
# 실수형
type(100.0)

# float = 실수형
# type을 지정해줘야함

float

In [26]:
# 문자열
print(type("안녕하세요"))
print(type("100"))
print(type(100))

# str = 문자열

<class 'str'>
<class 'str'>
<class 'int'>

In [27]:
# 같지만 다른 숫자
print(type(3))
print(type(3.0))

<class 'int'>
<class 'float'>

In [28]:
# 참과 거짓
# 첫글자는 반드시 대문자이어야 합니다.
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [29]:
print(True + True + True)
print(False + False + False)

3
0

In [30]:
### 변수
americano = 4500

print(americano)
print("americano")

#amricano는 변수고 ""사이에 넣으면 이건 문자열로 인식

4500
americano

In [31]:
# 변수 연산
latte = 5000

print(americano + latte)
print("americano"+ "latte")

9500
americanolatte

In [32]:
result = latte - americano
print(result)

500

In [33]:
# 변수 업데이트
americano = 4500
americano = americano + 1000

print(americano)

5500

In [34]:
### 자료형 변환

In [35]:
a = 2
b = 0.17

a = a + b
print(type(a))

# 다이나믹 타입 a = 2 인데 업데이트 해서 a = a + b니까 2.17이라 float 나옴

<class 'float'>

In [36]:
### 비교연산자

In [37]:
# 크다 >
# 크거나 같다(이상) >=
# 작다 <
# 작거나 같다(이하) <=
# 같다 ==
# 다르다 !=

# 코드는 위에서 아래로 그리고 왼쪽에서 오른쪽으로 감. 즉, 3 > 2 왼쪽 3이 오른쪽 2 보다 크다.

In [38]:
# 참조건
print(10 > 5)
print(10 < 5)
print(10 <= 10)
print(10 == 10)
print(10 != 10)

# print(10 = 10) -> 이건 에러뜸 -> 컴퓨터에서는 =가 오른쪽을 왼쪽에다가 대입하겠다 이 말이기 때문에. 변수 만들 때는 숫자가 처음 올 수 없음
# 논리식으로 비교 연산자로 인해 true 아니면 flase 값이 나옴

True
False
True
True
False

In [39]:
### 조건문
score = 85

if score >= 90:
    print("a")
else:
    print("b")

# : 의미는 then -> ~~ 이면 ~~ 해라 위의 경우 만약 score가 90보다 크거나 같으면 print a 해라

b

In [40]:
점수 = 87

if 점수 >= 90:
    print("a")
elif 점수 >= 80:
    print("b")
elif 점수 >= 70:
    print("c")
else:
    print("f")
# elif 점수 >= 80: 이랑 70이랑 순서 바꾸면 c 만 나오고 끝. 즉, 위에서 아래로 만족하는 조건 하나가 나오면 그에 맞는 어떤 것을 하고 끝낸다

b

In [41]:
score = 2

if score >= 10:
    print("score가 10 이상입니다.")
elif score < 10 and score >= 5:
    print("score가 5이상 10 미만입니다.")
elif score < 5 and score >= 3:
    print("score가 3이상 5 미만입니다.")
else:
    print("score가 3미만입니다.")

score가 3미만입니다.

In [42]:
### 리스트
## 여러개의 값을 저장할 수 있는 자료형

In [43]:
# 리스트 생성
listbox = ["사과", "바나나", "딸기"]
print(type(listbox))
print(listbox)

# 저기서 두번째 쭐 왜 쓰는지 모르곘음.

<class 'list'>
['사과', '바나나', '딸기']

In [44]:
# 리스트 첫번째 값 가져오기(인덱싱)
print(listbox[0])
print(listbox[1])

사과
바나나

In [45]:
# 점프 투 파이썬 -> 위키독스에 다 공유되어있음.

In [46]:
#주피터 노트에서는 print를 안적어도 마지막 줄은 print 적은 것 처럼 자동으로 됨
listbox[0]
listbox[1]
listbox[2]

'딸기'

In [47]:
listbox
listbox.append("포도")

print(listbox)
# append는 method 중 하나임 method는 특정한 데이터 타입에서 쓸 수 있는 함수
# 기존에 있는 데이터 박스 마지막에다가 추가하는 함수

['사과', '바나나', '딸기', '포도']

In [48]:
print(sorted(listbox))
print(sorted(listbox, reverse=True))

# ㄱㄴㄷㄹ 순으로 오름차순 정렬
# 내림차순 하고 싶으면

['딸기', '바나나', '사과', '포도']
['포도', '사과', '바나나', '딸기']

In [49]:
a = [1,2,3,4,5]
print(sorted(a, reverse=True))

[5, 4, 3, 2, 1]

In [50]:
print(a)
a = sorted(a, reverse=True)
a = sorted(a)
print(a)
a = sorted(a, reverse=True)
print(a)

# sorted는 그냥 한번 내림차순으로 보여주는거기 때문에 다시 print (a)하면 그냥 오름차순으로 나옴
# 그러니까 a = sorted(a, reverse=Treu)를 통해 a에 내림차순으로 정렬된 a list를 대입해줌으로써 그 뒤로도 a에 내림차순으로 나올 수 있게함

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [51]:
### 딕셔너리
# 리스트와 같이 여러 데이터를 한 번에 저장이 가능
# 키와 값의 쌍으로 데이터를 저장

In [52]:
# 딕셔너리 생성
dict = {"name": "홍길동", "age": 20, "gender": "남자"}
print(type(dict))

<class 'dict'>

In [53]:
dict
# 'name': '홍길동' 이렇게 한쌍이라서 데이터는 총 3개다

{'name': '홍길동', 'age': 20, 'gender': '남자'}

In [54]:
dict["name"]

'홍길동'

In [55]:
dict["age"]

20

In [56]:
dict["gender"]

'남자'

In [57]:
dict["age"] = 30

In [58]:
dict

{'name': '홍길동', 'age': 30, 'gender': '남자'}

In [59]:
dict["hobby"] = "축구"
dict

{'name': '홍길동', 'age': 30, 'gender': '남자', 'hobby': '축구'}

In [60]:
dict.keys()
#keys는 dict의 데이터 타입에서 쓸 수 있는 method 함수임

dict_keys(['name', 'age', 'gender', 'hobby'])

In [61]:
dict.values()
#values는 dict의 데이터 타입에서 쓸 수 있는 method 함수임

dict_values(['홍길동', 30, '남자', '축구'])

In [62]:
# 딕셔너리를 리스트로 변환
# 이걸 언제써야된다했더라.
# 데이터의 카테고리를 리스트로 변환해서 써야된다 이거만 들음

list(dict.keys())

['name', 'age', 'gender', 'hobby']

In [63]:
# 딕셔너리 생성(변수)
a = "합격"
b = "한국직업교육학원"
c = "학원"

dictbox = {"닉네임": a, c : b}
dictbox

{'닉네임': '합격', '학원': '한국직업교육학원'}

In [65]:
# 딕셔너리 생성(리스트)
listbox1 = ["국어", "영어", "수학"]
listbox2 = [90, 80, 70]

dictbox = {"과목": listbox1, "점수": listbox2}
dictbox

{'과목': ['국어', '영어', '수학'], '점수': [90, 80, 70]}

In [111]:
print("hello world", "phython")

hello world phython