In [2]:
import pandas as pd

df = pd.read_csv("cafe2.csv")
df

      메뉴    가격  칼로리   원산지
0  아메리카노  1500   10  콜롬비아
1   카페라떼  2000  110   NaN
2   카페모카  3000  250  과테말라
3   카푸치노  2000  110  과테말라
4  에스프레소  1500   20  과테말라
5    밀크티  3000  210  과테말라
6     녹차  4000    0   NaN
7   구미라떼  2000   20   NaN

In [ ]:
# 결측치 확인

df.isnull() # True 3개가 값이 비어있다는 말임 
# False는 0과 같음 True는 1과 같음

      메뉴     가격    칼로리    원산지
0  False  False  False  False
1  False  False  False   True
2  False  False  False  False
3  False  False  False  False
4  False  False  False  False
5  False  False  False  False
6  False  False  False   True
7  False  False  False   True

In [7]:
df.isnull().sum()
# 결측치를 구할 때 isnull().sum()하면 결측치가 몇개인지 알 수 있음

메뉴     0
가격     0
칼로리    0
원산지    3
dtype: int64

In [9]:
# 결측치 채우기
df["원산지"].fillna("코스타리카", inplace=True)
df

      메뉴    가격  칼로리    원산지
0  아메리카노  1500   10   콜롬비아
1   카페라떼  2000  110  코스타리카
2   카페모카  3000  250   과테말라
3   카푸치노  2000  110   과테말라
4  에스프레소  1500   20   과테말라
5    밀크티  3000  210   과테말라
6     녹차  4000    0  코스타리카
7   구미라떼  2000   20  코스타리카

In [11]:
df.to_csv("cafe3.csv", index=False)