In [47]:
import pandas as pd
df = pd.read_csv("cafe3.csv")
df

      메뉴    가격  칼로리    원산지
0  아메리카노  1500   10   콜롬비아
1   카페라떼  2000  110  코스타리카
2   카페모카  3000  250   과테말라
3   카푸치노  2000  110   과테말라
4  에스프레소  1500   20   과테말라
5    밀크티  3000  210   과테말라
6     녹차  4000    0  코스타리카
7   구미라떼  2000   20  코스타리카

In [48]:
# replace() 활용

df.replace("아메리카노", "롱고", inplace=True)

In [49]:
df.replace("녹차", "그린티", inplace=True)
df

      메뉴    가격  칼로리    원산지
0     롱고  1500   10   콜롬비아
1   카페라떼  2000  110  코스타리카
2   카페모카  3000  250   과테말라
3   카푸치노  2000  110   과테말라
4  에스프레소  1500   20   과테말라
5    밀크티  3000  210   과테말라
6    그린티  4000    0  코스타리카
7   구미라떼  2000   20  코스타리카

In [50]:
# 여러개의 값을 한꺼번에 변경
change = {
    "롱고" : "아메리카노",
    "그린티" : "녹차"
}
df.replace(change, inplace=True)
df

      메뉴    가격  칼로리    원산지
0  아메리카노  1500   10   콜롬비아
1   카페라떼  2000  110  코스타리카
2   카페모카  3000  250   과테말라
3   카푸치노  2000  110   과테말라
4  에스프레소  1500   20   과테말라
5    밀크티  3000  210   과테말라
6     녹차  4000    0  코스타리카
7   구미라떼  2000   20  코스타리카

In [51]:
# Loc / iloc 활용

df.loc[6, "원산지"] = "대한민국"
df

      메뉴    가격  칼로리    원산지
0  아메리카노  1500   10   콜롬비아
1   카페라떼  2000  110  코스타리카
2   카페모카  3000  250   과테말라
3   카푸치노  2000  110   과테말라
4  에스프레소  1500   20   과테말라
5    밀크티  3000  210   과테말라
6     녹차  4000    0   대한민국
7   구미라떼  2000   20  코스타리카

In [52]:
df.loc[1:2, "이벤트가"] = 1000
df

      메뉴    가격  칼로리    원산지    이벤트가
0  아메리카노  1500   10   콜롬비아     NaN
1   카페라떼  2000  110  코스타리카  1000.0
2   카페모카  3000  250   과테말라  1000.0
3   카푸치노  2000  110   과테말라     NaN
4  에스프레소  1500   20   과테말라     NaN
5    밀크티  3000  210   과테말라     NaN
6     녹차  4000    0   대한민국     NaN
7   구미라떼  2000   20  코스타리카     NaN

In [56]:
df["이벤트가"] = df["이벤트가"].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      8 non-null      object
 1   가격      8 non-null      int64
 2   칼로리     8 non-null      int64
 3   원산지     8 non-null      object
 4   이벤트가    2 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 452.0+ bytes

In [60]:
df.to_csv("cafe4.csv", index=False)